/*
 * Header style
 */
html,
body,
#container {
	height:100%;
	overflow:hidden;
}

#container {
	width:100%;
	background:#fff no-repeat center center;
	background-size:cover;
	position:relative;
}

#scroller {
	position:relative;
	height:100%;
}

#main {
	padding:3% 40px;

	#loader {
		margin:50px auto 0 auto;
		width:50px;
		height:50px;
	}

	#brands {
		position:relative;
		height:100%;

		.brand {
			position:relative;
			width:48%;
			float:left;
			margin:0 4% 4% 0;
			cursor:pointer;

			&.inbox, &.inboxRounded {
				width:40%;
				padding:4%;
				background:#fff;
				-webkit-box-shadow 		:0 1px 4px 1px rgba(0, 0, 0, 0.5);
				-moz-box-shadow 			:0 1px 4px 1px rgba(0, 0, 0, 0.5);
				-o-box-shadow 				:0 1px 4px 1px rgba(0, 0, 0, 0.5);
				box-shadow 						:0 1px 4px 1px rgba(0, 0, 0, 0.5);
			}

			&.inboxRounded {
				-webkit-border-radius	:8px;
				-moz-border-radius		:8px;
				-o-border-radius			:8px;
				border-radius					:8px;
			}

			&.circle {
				.img {
					background-size:cover;
					-webkit-border-radius	:100px;
					-moz-border-radius		:100px;
					-o-border-radius			:100px;
					border-radius					:100px;
				}
			}

			.img {
				max-width:100%;
				height:100%;
				background:no-repeat center center;
				background-size:contain;
				margin:0;
			}

			h2 {
				position:absolute;
				bottom:7px;
				left:0;
				right:0;
				text-align:center;
				color:#333;
				font-size:20px;
				font-weight:300;

			}
		}
	}
}



/* === MEDIAS QUERIES === */

/* Display mobile */
@media screen and (max-width: 600px) {
	#main {
		#brands {
			.brand {
				&:nth-child(even) {
					margin-right:0;
				}

				h2 {
					display:none;
				}
			}
		}
	}
}

/* Tablets Portrait & Big Smartphone Landscape */
@media screen and (min-width: 600px) and (max-width: 767px) and (orientation:portrait) {
	#main {
		#brands {
			.brand {
				width:30%;

				&.inbox, &.inboxRounded {
					width:24%;
					padding:3%;
				}

				&:nth-of-type(3n+3) {
					margin-right:0;
				}

				h2 {
					font-size:18px;
				}
			}
		}
	}
}

/* iPad & Tablets*/
@media screen and (min-width: 768px) and (max-width: 959px) {
	#main {
		#brands {
			.brand {
				width:22%;

				&.inbox, &.inboxRounded {
					width:18%;
					padding:2%;
				}

				&:nth-of-type(4n+4) {
					margin-right:0;
				}

				h2 {
					font-size:20px;
				}
			}
		}
	}
}

/* Display larger than tablet */
@media screen and (min-width: 959px) {
	#main {
		#brands {
			.brand {
				width:16%;
				margin:0 5% 5% 0;

				&.inbox, &.inboxRounded {
					width:14%;
					padding:1%;
				}

				&:nth-of-type(5n+5) {
					margin-right:0;
				}

				h2 {
					font-size:22px;
				}
			}
		}
	}
}