/*
 * Header style
 */
.app-header {
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:20%;

	.logo {
		width:80%;
		height:100%;
		margin:0 auto;
		background:no-repeat center center;
		background-size:contain;
	}
}