/*
 * Header style
 */
.app-header {
	height:80px;
	background:#fff url('images/bg_topbar.png') repeat-x;
	margin-bottom:15px;
	padding:10px 0;

	.logo {
		height:100%;
		margin:0 auto;
		background:no-repeat center center;
		background-size:contain;
	}
}